extends templates/_site

block template-content
  nav.m-sticky.l-wrap.l-wrap--horizontal(data-headroom)
    .o-menu(data-hover)
      button.o-menu__toggle Menu

      .o-menu__content.m-sticky__table
        .m-sticky__cell
          ul.o-menu__list.o-list--inline
            each instance in navItems
              li.o-list__item
                a.t-link--white(href=instance.link, data-scrollto)!= instance.title
        .m-sticky__cell
          ul.o-menu__list.o-list--inline
            each instance in sideItems
              li.o-list__item
                if instance.data
                  a.t-link--white(href=instance.link, data-featherlight=instance.data)!= instance.title
                else
                  a.t-link--white(href=instance.link)!= instance.title

  header#info.m-header
    .m-header__top.l-wrap.l-wrap--small
      .m-header__cell.l-grid__item--3
        .m-header__content
          h2.m-header__title--when 14&ndash;19 April 2015
          ul.m-header__list.o-list--stacked
            li Tuesday&ndash;Saturday 10&ndash;20
            li Sunday 10&ndash;18
            li Open Evening Wednesday 20&ndash;22

      .m-header__cell.l-grid__item--3
        a.o-logo(href="index")
          img(src="assets/images/logo.png", alt="PopUpShow Logo")
          h1 PopUpShow

      .m-header__cell.l-grid__item--3
        .m-header__content
          h2.m-header__title--where Ventura Lambrate
          ul.m-header__list.o-list--stacked
            li Via Dei Canzi 19
            li 20134 Milano, Italy
            li: a.t-dotted(href="https://goo.gl/maps/OxtMm") Show in Google Maps

    .m-header__info.l-wrap.l-wrap--section
      p.m-header__text The PopUpShow presents recent student works from Tomas Bata University in Zlín focusing on wood as a&nbsp;conceptual topic as well as a&nbsp;basic material. The presentation itself reflects the well-known phenomenon of PopUpCulture, forming a&nbsp;PopUpShow with PopUpDesign and PopCorn.

  section.m-exhibit.l-section--white.l-wrap.l-wrap--vertical
    h3.m-exhibit__title.t-head--higher.t-entre It&rsquo;s over. Thank you!
    p.m-exhibit__text &hellip;but you can still enjoy the atmosphere of our PopUpShow at Milan Design Week 2015 &mdash; at least through recollections below.
    .m-exhibit__gallery.o-gallery(data-flickity)
      .o-gallery__item
        .o-gallery__ratio
          .o-gallery__video
            include partials/_vimeo.html
      each instance in photos
        .o-gallery__item
          img.o-gallery__image(src="assets/images/photo/#{instance.file}.jpg", alt="PopUpShow Exhibition Photo")

  main#products.m-products
    .m-products__loop(data-masonry)
      .o-sizer--column(data-column)
      .o-sizer--gutter(data-gutter)

      each instance in products

        if instance.illustration && instance.illustration.position === "top"
          include partials/_boy

        article.o-thumb(data-masonry-item, class="o-thumb--#{instance.type} o-thumb--#{instance.id}")
          a.o-thumb__link(href="javascript:" data-featherlight="products.html ##{instance.id}")
            .o-thumb__overlay(style="background-image: url('assets/images/overlay/#{instance.image}.png')")
              h1.o-thumb__title= instance.title
              strong.o-thumb__author= instance.author
            img.o-thumb__image(src="assets/images/thumbnail/#{instance.image}.jpg", alt="#{instance.title} Thumbnail")

        if instance.illustration && instance.illustration.position === "bottom"
          include partials/_boy

  section#about.m-about.l-section--white
    .l-wrap.l-wrap--section
      h3.m-about__title.t-head--higher.t-entre About
      .m-about__text
        p We are young and full of creative ideas, just like the university we study at. We are used to working in cross-functional teams and regularly win prestigious international awards such as Cannes Young Lions, the Red Dot Award, Young Package or the Swedish Innovation Prize.
        p 
          | We study graphic design, spatial design, advertising photography, industrial design, marketing communications, audiovisual arts, shoe and fashion design, and glass design at the 
          a.t-text-link(href="http://www.utb.cz/fmk-en") Faculty of Multimedia Communications
          | , 
          a.t-text-link(href="http://www.utb.cz/index.php?lang=2") Tomas Bata University
          |  in Zlín, Czech Republic.
        p
          | We&rsquo;ve been twice to the Milan Design Week (
          a.t-text-link(href="http://aboutlayabouts.com") About Layabouts
          |  in 2014, 
          a.t-text-link(href="http://www.bitememilan.com") Bite Me Milan
          |  in 2013). Here we are again with our PopUpShow. Welcome and enjoy!

  section#team.m-team
    .l-wrap.l-wrap--section
      h3.m-team__title.t-head--higher.t-entre Team
      .m-team__loop
        each group in team
          .m-team__group(class="m-team__group--#{group.category}")
            h4.m-team__name.t-head--bottom!= group.title
            ul.m-team__list.o-list--stacked
              each person in group.people
                if person.link
                  li.m-team__person: a.t-dotted.t-link--dark(href=person.link)= person.name
                else
                  li.m-team__person= person.name
      span.o-end
        img.o-end__image(src="assets/images/the_end.png", alt="The End")

  footer#contact.o-footer.l-section--primary

    .l-wrap.l-wrap--section
      h3.t-head--higher.t-entre Contact

      .m-contact__people.l-grid--4
        .l-grid__item--4
          ul.o-list--stacked
            li
              include partials/_enkoder.html
              | Richard Vodička</a>
            li: small.m-contact__position.t-text--small Coordinator

        .l-grid__item--4
          ul.o-list--stacked
            li
              include partials/_enkoder.html
              | Michael Vasku</a>
            li: small.m-contact__position.t-text--small Supervisor

        .l-grid__item--4
          ul.o-list--stacked
            li
              include partials/_enkoder.html
              | Anežka Adamíková</a>
            li: small.m-contact__position.t-text--small Manager
            li: small.t-text--small +420 733 755 959

        .l-grid__item--4
          ul.o-list--stacked
            li
              a.o-button.t-link--white.t-dotted(href="https://www.facebook.com/popupSHOWcz") Visit us at Facebook
            li
              a.o-button.t-link--white.t-dotted(href="javascript:", data-featherlight="press #press") View Press Assets

      .m-links
        .m-links__group
          h5.t-head--bottom.m-links__title Organizers

          each instance, index in [{"id": "utb", "name": "Faculty of Multimedia Communications, Tomas Bata University", "image": "logo_fmc.png", "link": "http://www.utb.cz/fmk"}, {"id": "vasku", "name": "Vasku & Klug", "image": "logo_vaskuklug.png", "link": "http://www.vasku-klug.com"}]
            .m-links__item
              a.o-affiliate(href=instance.link, class="o-affiliate--#{instance.id}")
                img(src="assets/images/#{instance.image}", alt=instance.name)

        .m-links__group
          h5.t-head--bottom.m-links__title Partners

          each instance, index in [{"id": "cd", "name": "Czechdesign", "image": "logo_czechdesign.png", "link": "http://www.czechdesign.cz"}, {"id": "cc", "name": "Czech Centres", "image": "logo_cc.png", "link": "http://milano.czechcentres.cz"}]
            .m-links__item
              a.o-affiliate(href=instance.link, class="o-affiliate--#{instance.id}")
                img(src="assets/images/#{instance.image}", alt=instance.name)
