extends templates/_site

block template-content
  section#press.m-press.l-wrap.l-wrap--horizontal

    h1.m-press__title.t-head--top Press

    .m-press__contact.l-grid--2
      .m-press__column
        h3.t-head--lower.m-press__subtitle Contact Us

      .m-press__column
        ul.o-list--stacked
          li Anežka Adamíková
          li +420 733 755 959
          li &nbsp;
          li: a.t-dotted(href="mailto:info@popupshow.cz") info@popupshow.cz

      .m-press__column
        h3.t-head--lower.m-press__subtitle Visit Us

      .m-press__column
        ul.o-list--stacked
          li Ventura Lambrate
          li Via Dei Canzi 19
          li 20134 Milano, Italy
          li: a.t-dotted(href="https://goo.gl/maps/OxtMm") Show in Google Maps

    .m-releases
      h2.m-press__section.t-head--higher.t-entre Press Releases

      .m-releases__list.l-grid--3
        each instance in docs
          article.o-release.l-grid__item--3
            .o-release__label
              mark.o-release__lang= instance.lang
              h1.o-release__title.t-head--low= instance.title
            if instance.excerpt
              .o-release__content
                if instance.date
                  strong.o-release__date= instance.date
                p.o-release__text!= instance.excerpt
            .o-download.l-inline
              .l-inline__cell
                span.o-release__note Download
              .l-inline__cell
                each link in instance.download
                  a.o-download__link.t-link--dark.t-dotted(href="assets/download/#{link.file}", download, target="_blank")= link.format

    .m-pictures
      h2.m-press__section.m-pictures__title.t-head--higher.t-entre Press Photos
      span.m-pictures__note Photography by Filip Beránek

      .m-pictures__list.l-grid--6
        each instance in products
          .o-picture.l-grid__item--6(class="o-picture--#{instance.type}")
            .o-picture__frame
              img.o-picture__image(src="assets/images/thumbnail/#{instance.image}.jpg", alt="#{instance.title} Thumbnail")
            .o-download.l-inline
              .l-inline__cell
                span.o-release__note Download
              .l-inline__cell
                a.o-download__link.t-link--dark.t-dotted(href="assets/images/download/PopUpShow_#{instance.id}_72dpi.jpg", download, target="_blank") Web
                a.o-download__link.t-link--dark.t-dotted(href="assets/images/download/PopUpShow_#{instance.id}_300dpi.jpg", download, target="_blank") Print

        each instance in photos
          .o-picture.o-picture--wide.l-grid__item--6
            .o-picture__frame
              img.o-picture__image(src="assets/images/photo/#{instance.file}.jpg", alt="PopUpShow Exhibition Photo")
            .o-download.l-inline
              .l-inline__cell
                span.o-release__note Download
              .l-inline__cell
                a.o-download__link.t-link--dark.t-dotted(href="assets/images/photo/#{instance.file}.jpg", download, target="_blank") Web

    .m-assets
      h2.m-press__section.t-head--higher.t-entre Assets

      .m-assets__list.l-grid--3

        each instance in assets
          .o-asset.l-grid__item--3(class="o-asset--#{instance.file}")
            a.o-asset__link(href="assets/images/assets/popupshow_#{instance.file}.pdf", target="_blank")
              img.o-asset__image(src="assets/images/assets/popupshow_#{instance.file}.png", alt="#{instance.title} Preview")
              .o-asset__caption Download #{instance.title}
